In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset=dataset.astype(int)

In [5]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(independent, dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Anaconda\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
12 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Anaconda\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Anaconda\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Anaconda\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Anaconda\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
28 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Anaconda\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Anaconda\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Anaconda\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Anaconda\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Anaconda\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.8138484  0.82725869 0.82021806 0.82817769
        nan        nan 0.81369532 0.83067741 0.81302712 0.83099429
        nan        nan 0.81914761 0.8296811  0.81690405 0.82843945
        nan        nan 0.81500773 0.82707406 0.81162567 0.82728778]
  warnings.warn(
C:\Anaconda\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100}:

In [10]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002665,0.002950,0.000000,0.000000e+00,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.000204,0.000407,0.000000,0.000000e+00,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.069651,0.007485,0.007340,6.278800e-03,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.844708,0.762870,0.847598,0.806542,0.807524,0.813848,0.030931,13
3,0.497943,0.015200,0.016134,1.007469e-03,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.853737,0.777664,0.850047,0.820932,0.833913,0.827259,0.027438,7
4,0.055311,0.011322,0.006054,5.838335e-03,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.850723,0.769573,0.849271,0.803384,0.828140,0.820218,0.030613,9
5,0.477041,0.016230,0.018984,6.140329e-03,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.848849,0.776596,0.855254,0.824573,0.835617,0.828178,0.027891,5
6,0.000000,0.000000,0.000000,0.000000e+00,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.003125,0.006250,0.000000,0.000000e+00,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.153920,0.006204,0.003126,6.252861e-03,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.850430,0.754531,0.824892,0.817204,0.821420,0.813695,0.031771,14
9,1.403977,0.026430,0.015626,8.529922e-07,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.853249,0.772272,0.851572,0.827387,0.848907,0.830677,0.030661,2
10,0.147660,0.007595,0.003327,6.161725e-03,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.851791,0.752651,0.833349,0.805471,0.821872,0.813027,0.033753,15
11,1.394902,0.025956,0.014725,4.671551e-03,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.855389,0.773753,0.858836,0.828094,0.838899,0.830994,0.030717,1
12,0.000000,0.000000,0.000000,0.000000e+00,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.000000,0.000000,0.000000,0.000000e+00,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.050065,0.006442,0.006376,7.811715e-03,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.842182,0.764140,0.837302,0.817547,0.834566,0.819148,0.028727,10
15,0.478431,0.012864,0.014773,8.798051e-03,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.853470,0.774554,0.856153,0.822559,0.841669,0.829681,0.030000,3
16,0.054699,0.006609,0.001238,2.476120e-03,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.830469,0.759357,0.859958,0.809597,0.825140,0.816904,0.033077,11
17,0.476402,0.005550,0.015408,4.457450e-04,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.851073,0.773212,0.852997,0.825158,0.839757,0.828439,0.029340,4
18,0.000000,0.000000,0.000000,0.000000e+00,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.000000,0.000000,0.000000,0.000000e+00,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.065678,0.006444,0.003327,6.161791e-03,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.845018,0.753076,0.837927,0.808967,0.830050,0.815008,0.033239,12
21,0.524747,0.007792,0.018840,6.205771e-03,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.852937,0.774417,0.854590,0.821645,0.831781,0.827074,0.029156,8
22,0.060365,0.004477,0.000000,0.000000e+00,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.844076,0.754190,0.820901,0.807805,0.831157,0.811626,0.031093,16
23,0.493122,0.040890,0.009387,7.664687e-03,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.857104,0.777163,0.847826,0.820401,0.833945,0.827288,0.027983,6

In [11]:
import pickle
filename="FinalModel_RFGT.sav"
pickle.dump(grid,open(filename,'wb'))

In [12]:
load_model=pickle.load(open("FinalModel_RFGT.sav",'rb'))
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:28
BMI:26.3
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[19047.105]

C:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(